body {
  background: #c4ebf1 !important;
}

.userprofileform {
  display: grid; 
  grid-template-columns: auto auto; 
  grid-template-rows: repeat(3, auto); 
  justify-items: start;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border: 15px solid #B0E1FF;
  align-items: center;
  background: #c4ebf1 !important;
  border-style:groove
  
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.formgroup label{
  color: #26474E	
}
.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 5px;
}

.userprofileform button {
  cursor: pointer;
outline: 0;
display: inline-block;
font-weight: 400;
line-height: 1;
text-align: center;
background-color: transparent;
border: 1px solid transparent;
padding: 6px 12px;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: #0d6efd;
border-color: #0d6efd;
}
.userprofileform hover {
    color: black;
    background-color: #0d6efd;
    border-color: #0d6efd;
}



