.user-profile-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border: 15px solid #ffffc2;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .user-profile-display p {
    margin: 10px;
  }
  
  .user-profile-display button {
    padding: 10px;
    background-color: #99edc3;
  }
  