.tablecontainer {
  width: 100%;
}
.tablecontainer h1 {
  color: #26474e;
}
.tablecontainer table {
  width: 100%;
  border-collapse: collapse;
  border-style: groove;
  border: 15px solid #b0e1ff;
}

.tablecontainer th,
.tablecontainer td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #c4ebf1;
  color: #26474e;
}

.tablecontainer th {
  background-color:;
  font-weight: bold;
  color: #26474e;
}

.tablecontainer tbody tr:nth-child(even) {
  background-color: #c4ebf1 !important;
}

.tablecontainer tbody tr:hover {
  background-color: #b0e1ff;
}
