.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DEFFFA;
    padding: 10px;
  }
  
  .navbar__logo {
    font-size: 24px;
  }
  
  .navbar__logo h1 {
    color: #26474E	;
    text-decoration: none;
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
  }
  
  .navbar__links li {
    margin: 0 10px;
    color:blue;
  }
  
  .navbar__links li a {
    color: #000;
    text-decoration: none;
  }
  
  .navbar__links li a:hover {
    color: #fff;
  }
  