.userprofiledisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border: 15px solid #B0E1FF;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #c4ebf1;
    border-style: groove;
    
  }
  .userprofiledisplay h2{
    color: #26474E;
  }
  
  .userprofiledisplay p {
    margin: 10px;
    color: #0d6efd;
    
  }
  
  .userprofiledisplay button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
  }
  