.tablecontainer {
  width: 100%;
}
.tablecontainer h1{
color: #26474E;
}
.tablecontainer table {
  width: 100%;
  border-collapse: collapse;
  border-style: groove;
  border:15px solid #B0E1FF;;

}

.tablecontainer th,
.tablecontainer td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #c4ebf1;
  color: #26474E
}

.tablecontainer th {
  background-color: ;
  font-weight: bold;
  color: #26474E;
}

.tablecontainer tbody tr:nth-child(even) {
  background-color: #c4ebf1 !important;;
}

.tablecontainer tbody tr:hover {
  background-color: #B0E1FF;
}
